langchain
langchain-core
langchain-community
pypdf
pymupdf
sentence-transformers
faiss-cpu
chromadb
langchain-text-splitters
langchain-groq
python-dotenv
streamlit
fastapi
uvicorn
loguru
rank-bm25
langgraph
python-multipart
pydantic